.refreshButton {
    /*-fx-graphic: url("/icons/refresh1_24.png");*/
    /*-fx-background-image: url("/icons/refresh1_32.png");*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
    /*-fx-background-color: transparent;*/
    /*-fx-background-insets: 0;*/
}

.addComponentButton {
    -fx-background-image: url("/icons/component1_32.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.addSystemButton {
    -fx-background-image: url("/icons/system1_32.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.refreshButtonIcon {
    -glyph-size: 30;
    -glyph-name: REFRESH;
}

.addComponentGroupButton {
    -glyph-size: 30;
    -glyph-name: OBJECT_GROUP;
}